/*
*************
Globals
*************
*/

a:hover, a:visited, a:link, a:active
{
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

/*
*************
Title section
*************
*/

#title{
  display: table;
  position: relative;
  height: 100%;
  width: 100%;
}

#particles-js {
  background: cornflowerblue;
}

#nameBox {
  position: absolute;
  border: 4px solid black;
  width: 30vw;
  height: 10vw;
  left: 35%;
  right: 35%;
  top: 40%;
  bottom: 40%;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
  background: rgba(255,255,255, 0.3);
}

#name {
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3px;
  font-size: 4.5vw;
  font-weight: 600;
}

#slogan {
  text-align: center;
  letter-spacing: 2px;
  font-size: 1.5vw;
  font-weight: 300;
}

/*
****************
Projects Section
****************
*/

#projects {
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(50,0,255, 0.5);
}

/* individual project component */
.project {
  height: 200px;
  width: 200px;
  background: #dde;
  padding: 15px;
  margin: 10px;
  display: inline-block;
}

.projectTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.projectDescription {
  text-align: center;
  font-size: 14;
  font-weight: 200;
  margin: 10px;
}
/*
****************
About Section
****************
*/

#about {
  height: 100vh;
  width: 100vw;
  background: rgba(0,0,255, 0.5);
}

/*
****************
Contact Section
****************
*/

#Contact {
  height: 50vh;
  width: 100vw;
}

/*
****************
Section Navbars
****************
*/

.Nav {
  display: flex;
  justify-content: center;
}

.Nav li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/*
****************
Section Headers
****************
*/

.sectionHeader {
  text-align: center;
  font-size: 4vw;
  letter-spacing: 3px;
}