/*
*************
Globals
*************
*/

a:hover, a:visited, a:link, a:active
{
    color: inherit;
    text-decoration: none;
    display: block;
    height: 100%;
    width: 100%;
}

ul {
  list-style-type: none;
}

/*
*************
Title section
*************
*/

#title{
  display: table;
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
}

#particles-js {
  background: cornflowerblue;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
}

#nameBox {
  position: absolute;
  border: 4px solid black;
  width: 50vw;
  height: 20vw;
  left: 25%;
  right: 25%;
  top: 30%;
  bottom: 40%;
  overflow: hidden;
  white-space: nowrap;
  padding: 2px;
  background: rgba(255,255,255, 0.4);
}

#name {
  text-align: center;
  vertical-align: middle;
  letter-spacing: 3px;
  font-size: 6vw;
  font-weight: 600;
}

#slogan {
  text-align: center;
  letter-spacing: 2px;
  font-size: 2.5vw;
  font-weight: 300;
}

/*
****************
Projects Section
****************
*/

#projects {
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(200,70,255, 1);
}

/* individual project component */
.project {
  height: 200px;
  width: 200px;
  background: #dde;
  padding: 15px;
  margin: 10px;
  display: inline-block;
  transition: all 0.5s ease;
}

.project:hover {
  transform: scale(2);
  z-index: 1;

}

.projectTitle {
  text-align: center;
  font-size: 16px;
  font-weight: 300;
}

.projectDescription {
  text-align: center;
  font-size: 14;
  font-weight: 200;
  margin: 10px;
}
/*
****************
About Section
****************
*/

#about {
  min-height: 100vh;
  min-width: 100vw;
  background: rgba(40,160,255, 0.9);
  text-align: center;
}

/* about subsection */
#aboutInfo {
  height: 80vh;
  width: 90vw;
  background: white;
  left: 5vw;
  right: 5vw;
  display: inline-block;
  
}

#personalPhoto {
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  background: black;
  display: inline-block;
  position: relative;
  right: 35%;
  top: 30%;
  z-index: 1;
}
#aboutParagraph {
  width: 60%;
  height: 40%;
  position: relative;
  left: 25%;
}

/* Technologies subsection */
#technologiesInfo {
  height: 80vh;
  width: 90vw;
  background: white;
  left: 5vw;
  right: 5vw;
  display: inline-block; 
}

.scrollElement {
  height: 100%;
  width: 100%;
}

/* Resume subsection */
#resumeInfo {
  height: 80vh;
  width: 90vw;
  background: white;
  left: 5vw;
  right: 5vw;
  display: inline-block; 
}


/*
****************
Contact Section
****************
*/

#Contact {
  height: 50vh;
  width: 100vw;
}

#contactInfo {
  height: 50vh;
  width: 100vw;
  background: rgba(110,110,110, 0.9);
  display: inline-block;
}

.contactHeader {
  color: white;
}

/*
****************
Section Navbars
****************
*/

.Nav {
  display: flex;
  justify-content: center;
}

.Nav li {
  margin: 10px;
  font-weight: bold;
  cursor: pointer;
}

/*
****************
Section Headers
****************
*/

.sectionHeader {
  text-align: center;
  font-size: 4vw;
  letter-spacing: 3px;
}